body{
  background: black;
  color:#fff;
}

h1{
  margin-bottom: 1em;
}

.card{
  cursor: pointer;
  transition: 0.2s ease-in;
  
}

.card:hover{
  transform: scale(1.025);

}
.card-title{
  text-align: center;
}



a{
  color: #fff;
}

.btn {
font-size: 1.5em;

}

